@inherits LayoutComponentBase

<section class="hero is-primary">
  <div class="hero-body">
    <p class="title">
      <a href="/">Infinite Recipe Book 📔</a>
    </p>
    @* <p class="subtitle">
      Primary subtitle
    </p> *@
  </div>
</section>

<main> @Body </main>
